// This will copy all the variables from '_variables.scss' into this file:
@import "../variables";

.status {
  grid-area: status;
  background-color: $statusFillColor;
  border-bottom: 2px solid $statusBorderColor;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.6rem;
  padding: 0.5rem 1rem 0rem 4.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  // display: flex;
  // flex-direction: row;

}

#counterDisplay {
  display: inline-block;
  text-align: left;
}

#filler {
  flex-grow: 5; /* default 0 */
}

#statusMessage {
  display: inline-block;
  text-align: right;
}

.status.yellow {
  background-color: rgb(251, 255, 0);
}

.status.orange {
  background-color: rgb(226, 85, 3);
}

.status.red {
  background-color: red;
}

.status.green {
  background-color: rgb(31, 134, 5);
}

.status.cyan {
  background-color: rgb(6, 90, 199);
}

.status.blue {
  background-color: blue;
}

.status.purple {
  background-color: rgb(155, 3, 226);
}


.text {
  margin-top: 1rem;
}

.text.yellow {
  color: rgb(192, 192, 2);
}

.text.orange {
  color: rgb(226, 85, 3);
}

.text.red {
  color: red;
}

.text.green {
  color: rgb(31, 134, 5);
}

.text.cyan {
  color: rgb(6, 90, 199);
}

.text.blue {
  color: blue;
}

.text.purple {
  color: rgb(155, 3, 226);
}