#grid {
  /* To fix an svg rendering inconsistency between Firefox and Chrome,
  one workaround is to set the parent position to relative (i.e. '#grid')
  and the svg's one to absolute. It's like one User Agent (FF) does create
  a new stack for the svg node, while the other (chrome) doesn't. */
  grid-area: grid;
  position: relative;
  min-height: 200px;
  margin: 1rem;
  button {
    cursor: pointer;
  }
}



#svg-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 95%;
  margin-left: 0.5rem;
  padding-right: 1rem;
}

#svg-grid.gridNoFocus {
  fill-opacity: 0.4;
}

svg g.gridNoFocus {
  fill-opacity: 0.45;
}
