$sidebarFillColor: #250d0d;
$sidebarFontColor: #7d4444;
$sidebarHoverColor: #f1f1f1;

$bodyFillColor: #faf1d7;
$statusFillColor: rgb(0, 34, 46);//rgb(48, 42, 42);//#ffd381;
$statusBorderColor: #830602;

$sidebarLandscapeWidth: 40vw;
$sidebarPortraitWidth: 80vw;

$transitionDuration: 0.4s;

$mediaQueryWidth: 1200px;
:export {
  mediaQueryWidth: 1200;
}
