.yellow {
  stroke: rgb(235, 173, 2);
  stroke-width: 1;
}

.orange {
  stroke: rgb(226, 85, 3);
  stroke-width: 2;
}

.red {
  stroke: rgb(199, 5, 12);
  stroke-width: 1;
}

.green {
  stroke: rgb(31, 134, 5);
  stroke-width: 2;
}

.cyan {
  stroke: rgb(6, 90, 199);
  stroke-width: 1;
}

.blue {
  stroke: blue;
  stroke-width: 1;
}

.purple {
  stroke: rgb(155, 3, 226);
  stroke-width: 2;
}

.winningChecker {
  fill-opacity: 1;
}

