body {
  text-align: center;
  font: 1rem "Century Gothic", Futura, sans-serif;
  background-color: rgb(218, 236, 236);
}

#gameGrid {
  z-index: 1000;
  background-color: black;
  border: 0.5rem solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 1rem;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#gameGrid:after,
#gameGrid:before {
  content: '';
  background: black;
  height: 115%;
  width: 10%;
  position: absolute;
  top: -1.82%;
  border-radius: 10%;
}

#gameGrid:after {
  right: -10%;
}

#gameGrid:before {
  left: -10%;
}

.cell {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  border-radius: 50%;
  margin: 0.25rem;
  cursor: pointer;
}

.next {
  z-index: -1000;
  position: absolute;
  top: -18%;
  /* margin: 1rem; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}

.cell.empty {
  background-color: rgb(218, 236, 236);
  border-left: 0.25rem solid rgb(100, 100, 100);
  border-bottom: 0.25rem solid rgb(100, 100, 100);
}

.cell.red {
  background-color: red;
  border-left: 0.25rem solid red;
  border-bottom: 0.25rem solid red;
}

.cell.yellow {
  background-color: yellow;
  border-left: 0.25rem solid yellow;
  border-bottom: 0.25rem solid yellow;
}

.winner {
  height: 2rem;
  width: 50rem;
  position: absolute;
  top: 1.5%;
  left: 50%;
  margin: 1rem;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 0.75rem;
}

.winner.red {
  background-color: red;
  border: 0.2rem solid rgb(126, 4, 4);
}

.winner.yellow {
  background-color: yellow;
  border: 0.2rem solid rgb(133, 133, 2);
}

.status.red {
  color: red;
}

.status.yellow {
  color: rgb(192, 192, 2);
}