// This will copy all the variables from '_variables.scss' into this file:
@import "variables";

.status {
  grid-area: status;
  background-color: $statusFillColor;
  border-bottom: 2px solid $statusBorderColor;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.6rem;
  padding: 0.5rem 1rem 0rem 4.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

}

.status.red {
  background-color: red;
}

.status.yellow {
  background-color: rgb(251, 255, 0);
}

.text {
  margin-top: 1rem;
}

.text.red {
  color: red;
}

.text.yellow {
  color: rgb(192, 192, 2);
}